* {
    margin: 0px;
    padding: 0px;
}

.nav {
    height: 70px;
}

.nav img {
    display: inline-block;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
}

.nav h2 {
    display: inline-block;
    margin: 1.0rem;
}

.main-content button {
    width: 73%;
    font-size: 28px;
}

.main-content button a {
    text-decoration: none;
    color: grey;
}

.footer .col-6 p {
    display: inline-block;
}

.foot-right ul {
    margin-left: 22rem;
}

.foot-right ul a {
    text-decoration: none;
    padding-bottom: 1rem;
    color: white;
    padding-left: 3rem;
}

.error{
	color:red;
	border:1px solid blue;
	border-radius:5px;
	padding:0.5rem 1rem; 
	margin-left:5rem;
}

#profile{
	color:white;
	text-decoration:none;
	font-size:18px;
	margin-right:10px;
}

